.config/google-chrome
.config/vivaldi
.config/lpass
.config/Kvantum
.config/gtk-3.0
.config/ulauncher
.config/spotify
.config/Thunar
.config/xfce4
.config/volumeicon
.config/variety
.config/qt5ct
.config/3T
.config/archolinux-tweak-tool
.config/archolinux-welcome-app
.config/arcologout
.config/autostart
.config/balenta-etcher-electron
.config/configstore
.config/fontconfig
.config/gcalculator
.config/gconf
.config/coc
.config/balena-etcher-electron
.config/concky
.config/Code
.config/pulse
.config/session
.config/albert
.config/evolution
.config/redisDesktop
.config/dconf

.vim/plugged
.vim/.netrwhist



